[user]
	signingkey = DE2588117E3C58F1C55149B2AEA543DB863D7D2B
	email = 3uzbcqje@addy.to
	name = 3uzbcqje

[commit]
	gpgsign = true

[init]
	defaultBranch = main

[pull]
	rebase = false

[alias]

	# Check out origin default branch (not for use with repos that don't have a remote named "origin")
	checkout-origin-default-branch = "!git checkout $(git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@')"

	# Pull all remote main branches, and merge them with local main.
	pull-all-main = "!git checkout main && git fetch --all && for remote in $(git remote | sed '/^upstream$/d'); do git merge ${remote}/main; done"

	# Push all branches to all remotes
	push-all-main = "!for remote in $(git remote | sed '/^upstream$/d'); do git push ${remote} main; done"

	# Push all branches to all remotes
	push-all-branches = "!for remote in $(git remote | sed '/^upstream$/d'); do git push ${remote} --all; done"

	# Delete merged branches. Do a git checkout and git pull on whichever branch you want to delete the merged branches of...
	# delete-merged-branches = "!git fetch -p --all && for branch in $(git branch | sed '/^\*/d'); do git branch -d ${branch}; done"
	delete-merged-branches = "!git fetch -p --all && for branch in $(git branch --merged | grep -v '\\*' | grep -v 'main' | awk '{print $1}'); do git branch -d \"$branch\"; done"

# https://github.com/getsops/sops?tab=readme-ov-file#48showing-diffs-in-cleartext-in-git
[diff "sopsdiffer"]
	textconv = "sops decrypt"

[submodule]
	recurse = true

[push]
	autoSetupRemote = true

[log]
	showSignature = true

[re.sonny.Commit]
	title-length-hint=50
	body-length-wrap=72
	auto-capitalize-title=true

[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
